.root {
  margin: 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 100%;
  height: 50px;
  font-size: 26px;
  border: none;

  outline: none;
  padding: 0 10px;
  background-color: transparent;
  color: #f3a30e;
  border-bottom: 1px solid #f3a30e;
}
